<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Home</a>

    <div 
      th:unless="${loggedIn}"
      class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0 mb-2 me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/login}">
            Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/register}">
            Register</a>
        </li>
      </ul>
    </div>

    <div 
      th:if="${loggedIn}"
      class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0 mb-2 me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">
            Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/history}">
            History</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item d-inline-flex align-items-center">

          <i class="bi bi-person nav-link "></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
