<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  <head >
    <span  th:replace="fragments/head.html"></span>
    <title>Calculations</title>
  </head>
  <body>
    <header th:include="fragments/header.html"></header>
    <div class="container">
      <div class="row">

        <div class="col-md-6 offset-md-3 mt-4">
            <form action="#" th:action="@{/}" method="post">
              <label class="control-label"
                for="expression">Expression:</label>

              <input   class="form-control"
                type="text" id="expression" name="expression" required />
              <button class="btn btn-primary mt-4"type="submit">Evaluate</button>
            </form>
        </div>

      </div>

      <div th:replace="fragments/calclist.html"></div>
    </div>
  </body>
</html>
