<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Registration and Login System</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header th:include="fragments/header.html"></header>
    <div class="container">
      <div class="row">

        <div class="col-md-6 offset-md-3 mt-4">
            <form action="#" th:action="@{/}" method="post">
              <label class="control-label"
                for="expression">Expression:</label>

              <input   class="form-control"
                type="text" id="expression" name="expression" required />
              <button class="btn btn-primary mt-4"type="submit">Evaluate</button>
            </form>
        </div>

      </div>

      <div th:replace="fragments/calclist.html"></div>
    </div>
  </body>
</html>
